---
layout: default
---

<div>
    {{ content }}
</div>

<div id="content" class="content">
    <div id="myBoard" style="width: 500px"></div>
</div>
<div>
    <label>Status:</label>
    <div id="status"></div>
    <!-- <label>Board Score:</label>
    <div id="score"></div> -->
</div>

<script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js" integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD" crossorigin="anonymous"></script>
<script src="/assets/js/chess.js"></script>
<script src="/assets/js/chessboardjs-themes.js"></script>

<script src="{{ site.baseurl }}/assets/home-animations-chess.js" type="module" defer></script>
